* {
    margin: 0%;
    padding: 0%;
}

:root{
    --color-oscuro: #0040A1;
    --color-oscuro-claro: #006ECA;
    --color-medio: #48A4F4;
    --color-claro-oscuro: #A0DDFF;
    --color-claro: #EBFFFF;
    --font-family: 'inter';
}


#background-image {
    background: rgba(0, 0, 0, 0.15) url(https://images.adsttc.com/media/images/5ebe/0400/b357/6510/6b00/0595/large_jpg/Typographia-4.jpg?1589511141);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

#titulo-inicio {
    position: absolute;
    left: 40%;
    top: 50%;

    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: var(--color-claro)
}